In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("test").getOrCreate()

In [0]:
df = spark.read.csv("dbfs:/FileStore/Bengaluru_House_Dataaws.csv",inferSchema=True,header=True)

In [0]:
df.show()

+--------------------+-------------+--------------------+---------+-------+----------+----+-------+-----+
|           area_type| availability|            location|     size|society|total_sqft|bath|balcony|price|
+--------------------+-------------+--------------------+---------+-------+----------+----+-------+-----+
|Super built-up  Area|       19-Dec|Electronic City P...|    2 BHK|Coomee |      1056|   2|      1|39.07|
|          Plot  Area|Ready To Move|    Chikka Tirupathi|4 Bedroom|Theanmp|      2600|   5|      3|120.0|
|      Built-up  Area|Ready To Move|         Uttarahalli|    3 BHK|   null|      1440|   2|      3| 62.0|
|Super built-up  Area|Ready To Move|  Lingadheeranahalli|    3 BHK|Soiewre|      1521|   3|      1| 95.0|
|Super built-up  Area|Ready To Move|            Kothanur|    2 BHK|   null|      1200|   2|      1| 51.0|
|Super built-up  Area|Ready To Move|          Whitefield|    2 BHK|DuenaTa|      1170|   2|      1| 38.0|
|Super built-up  Area|       18-May|    Old Airport Road|    4 BHK|Jaades |      2732|   4|   null|204.0|
|Super built-up  Area|Ready To Move|        Rajaji Nagar|    4 BHK|Brway G|      3300|   4|   null|600.0|
|Super built-up  Area|Ready To Move|        Marathahalli|    3 BHK|   null|      1310|   3|      1|63.25|
|          Plot  Area|Ready To Move|        Gandhi Bazar|6 Bedroom|   null|      1020|   6|   null|370.0|
|Super built-up  Area|       18-Feb|          Whitefield|    3 BHK|   null|      1800|   2|      2| 70.0|
|          Plot  Area|Ready To Move|          Whitefield|4 Bedroom|Prrry M|      2785|   5|      3|295.0|
|Super built-up  Area|Ready To Move|  7th Phase JP Nagar|    2 BHK|Shncyes|      1000|   2|      1| 38.0|
|      Built-up  Area|Ready To Move|           Gottigere|    2 BHK|   null|      1100|   2|      2| 40.0|
|          Plot  Area|Ready To Move|            Sarjapur|3 Bedroom|Skityer|      2250|   3|      2|148.0|
|Super built-up  Area|Ready To Move|         Mysore Road|    2 BHK|PrntaEn|      1175|   2|      2| 73.5|
|Super built-up  Area|Ready To Move|       Bisuvanahalli|    3 BHK|Prityel|      1180|   3|      2| 48.0|
|Super built-up  Area|Ready To Move|Raja Rajeshwari N...|    3 BHK|GrrvaGr|      1540|   3|      3| 60.0|
|Super built-up  Area|Ready To Move|Ramakrishnappa La...|    3 BHK|PeBayle|      2770|   4|      2|290.0|
|Super built-up  Area|Ready To Move|  Manayata Tech Park|    2 BHK|   null|      1100|   2|      2| 48.0|
+--------------------+-------------+--------------------+---------+-------+----------+----+-------+-----+
only showing top 20 rows

In [0]:
df.rdd.getNumPartitions()

Out[5]: 1

In [0]:
df = df.repartition(5)

In [0]:
df.rdd.getNumPartitions()

Out[8]: 5

In [0]:
from pyspark.sql.functions import spark_partition_id

In [0]:
df = df.withColumn("partition_id",spark_partition_id())

In [0]:
df.show()

+--------------------+-------------+--------------------+---------+-------+-----------+----+-------+-----+------------+
|           area_type| availability|            location|     size|society| total_sqft|bath|balcony|price|partition_id|
+--------------------+-------------+--------------------+---------+-------+-----------+----+-------+-----+------------+
|Super built-up  Area|Ready To Move|Rajarajeshwari nagar|    3 BHK|   null|       2000|   3|      2| 85.0|           0|
|      Built-up  Area|Ready To Move|        Sanjay nagar|    1 BHK|   null|        965|   1|      1| 32.0|           0|
|Super built-up  Area|Ready To Move|       Sathya Layout|    3 BHK|NChtsun|       1504|   2|      2|102.0|           0|
|Super built-up  Area|Ready To Move|               Kudlu|    2 BHK|Srrnasa|       1024|   2|      2| 44.0|           0|
|Super built-up  Area|       19-Dec|          Kanakapura|    3 BHK|GoityEt|       1489|   2|      1| 70.0|           0|
|      Built-up  Area|Ready To Move|          Whitefield|    3 BHK|Mithmn |       1700|   3|      2|115.0|           0|
|      Built-up  Area|Ready To Move|  Kumaraswami Layout|    3 BHK|   null|       1310|   2|      1| 70.0|           0|
|      Built-up  Area|       19-Jun|            Sarjapur|4 Bedroom|Caonand|2580 - 2591|   4|      0|139.5|           0|
|          Plot  Area|Ready To Move|        Sanjay nagar|4 Bedroom|   null|       2700|   4|      2|350.0|           0|
|Super built-up  Area|       18-Dec|          Whitefield|    2 BHK|Prtates|       1216|   2|      1| 75.0|           0|
|Super built-up  Area|       18-May|      Kanakpura Road|    2 BHK|Wiowsri|       1180|   2|      2| 57.0|           0|
|          Plot  Area|Ready To Move|         Adityanagar|5 Bedroom|   null|        875|   5|      3|120.0|           0|
|Super built-up  Area|Ready To Move|              Jakkur|    2 BHK|Elidet |       1100|   2|      2| 52.0|           0|
|      Built-up  Area|Ready To Move|     Maheswari Nagar|    2 BHK|AsensGa|       1000|   2|      2| 60.0|           0|
|Super built-up  Area|Ready To Move|        Haralur Road|    2 BHK|RInceeg|       1243|   2|      2| 45.0|           0|
|Super built-up  Area|Ready To Move|              Hennur|    2 BHK|Shateor|       1255|   2|      2| 53.5|           0|
|Super built-up  Area|Ready To Move|Raja Rajeshwari N...|    3 BHK|Vaderla|       1335|   2|      1| 56.0|           0|
|      Built-up  Area|Ready To Move|           Jayamahal|    3 BHK|Peace P|       1800|   3|      1|220.0|           0|
|Super built-up  Area|Ready To Move|        Doddathoguru|    2 BHK|Vayali |       1015|   2|      2| 33.5|           0|
|Super built-up  Area|       18-Apr|             Varthur|    3 BHK|Muistry|       1600|   3|      2| 63.2|           0|
+--------------------+-------------+--------------------+---------+-------+-----------+----+-------+-----+------------+
only showing top 20 rows

In [0]:
from pyspark.sql.functions import count,col
df.groupBy("partition_id").agg(count(col("partition_id"))).show()

+------------+-------------------+
|partition_id|count(partition_id)|
+------------+-------------------+
|           0|               2664|
|           1|               2664|
|           2|               2664|
|           3|               2664|
|           4|               2664|
+------------+-------------------+

In [0]:
df.count()

Out[15]: 13320

In [0]:
13320/5

Out[16]: 2664.0

In [0]:
df = df.repartition(10)

In [0]:
df = df.coalesce(4)

In [0]:
df = df.withColumn("partition_id",spark_partition_id())

In [0]:
from pyspark.sql.functions import count,col
df.groupBy("partition_id").agg(count(col("partition_id"))).show()

+------------+-------------------+
|partition_id|count(partition_id)|
+------------+-------------------+
|           0|               2664|
|           1|               3996|
|           2|               2664|
|           3|               3996|
+------------+-------------------+